.chip {
    outline: 1px solid var(--primary-color);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: 500;
    font-size: .8em;
    cursor: pointer;
    transition: background-color .3s ease-in;
    max-lines: 1;
}

.chip.active {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

input[type=radio]:checked + .chip {
    background-color: var(--primary-color);
    color: var(--accent-color);
}